<p id="notice"><%= notice %></p>

<h1>Choose your island</h1>
<br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Our best picks</th>
      <th>Country</th>
      <th>Location</th>
      <th>Description</th>
      <th>Price</th>
      <th>Reviews</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @islands.each do |island| %>
      <tr>
        <h3><td><%= link_to (island.name), island %></td></h3>
        <td><%= link_to (image_tag (island.thumbnail_img)), island %></td>
        <td><%= island.country %></td>
        <td><%= island.location %></td>
        <td><%= island.description %></td>
        <td><%= island.price %></td>
        <% island.reviews.each do |review| %>
        <td><%= review.title %></td>
          <% end %>
      

      </tr>

    <% end %>
  </tbody>
</table>

<br>
