<p id="notice"><%= notice %></p>

<p>
  <strong>Month:</strong>
  <%= @rent.month %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @rent.duration %>
</p>

<%= link_to 'Edit', edit_rent_path(@rent) %> |
<%= link_to 'Back', rents_path %>
