<%= form_with(model: review, local: true) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h7>1. Please provide a rating 1-5 where 5 is the best experience.</h7>
  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating %>
  </div>
  <h7>2. Your title summarizes your experience.</h7>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title %>
  </div>
  <h7>3. Please provide the details of your experience.</h7>
  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>
  <h7>4. Pick the island in the list and then click Create Review.</h7>
  <div class="field">
    <%= form_for(@review) do |f| %>
    <%= f.collection_select :island_id, Island.all, :id, :name %>
    <p></p>
    <%= f.submit %>
  </div>


<% end %>
<% end %>
